@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..700&display=swap");

:root {
    --copper: #d87d4a;
    --peach: #fbaf85;
    --light-grey: #f1f1f1;
    --pale-grey: #fafafa;
    --medium-grey: #878787;
    --charcoal-grey: #4c4c4c;
    --silver: #c6c6c6;

    --black: #000000;
    --white: #ffffff;

    --nav-bar-height: 100px;
    --body-padding-hor: 1.5em;
    --rounded-edges: 7px;

    /* Animation units */
    --slide-distance-width: 2.5vw;
    --slide-distance-height: 2.5vh;
    --anim-duration: 1s;
    --anim-duration-secondary: 1.5s;
}

@media screen and (min-width: 600px) {
    :root {
        --body-padding-hor: 2.25em;
    }
}
@media screen and (min-width: 1024px) {
    :root {
        --body-padding-hor: 15em;
    }
}

/* Animations */
@keyframes slideLeft {
    from {
        translate: var(--slide-distance-width) 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes slideRight {
    from {
        translate: calc(var(--slide-distance-width) * -1) 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(var(--slide-distance-height));
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(calc(var(--slide-distance-height) * -1));
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 15px;
    line-height: 25px;
}

body {
    margin: 0;
}
.noscroll {
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.overline,
.subtitle {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subtitle {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
}

h2 {
    font-size: 28px;
    line-height: 44px;
    letter-spacing: 1px;
}

h3 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.15px;
}

h4 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
}

h5 {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.7px;
}

h6 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.3px;
}

.overline,
.subtitle {
    color: var(--copper);
}

.overline {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
}

.subtitle {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;
}

.bold {
    font-weight: 700;
}

button,
.btn {
    padding: 1.15em 2.25em;
    border: none;

    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-1 {
    background-color: var(--copper);
    color: white;
}
.btn-1:hover,
.btn-1:active {
    background-color: var(--peach);
    color: white;
}

.btn-2 {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
.btn-2:hover,
.btn-2:active {
    background-color: black;
    color: white;
}

.btn-3 {
    background-color: transparent;
    color: black;
}
.btn-3::after {
    content: url("../assets/shared/icon-arrow-right.svg");
    display: inline-block;
}
.btn-3:hover,
.btn-3:active {
    color: var(--copper);
}

.btn-4 {
    background-color: black;
    color: white;
}
.btn-4:hover,
.btn-4:active {
    background-color: var(--charcoal-grey);
}

.tablet,
.desktop {
    display: none;
}

header,
footer {
    width: 100%;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    height: var(--nav-bar-height);
    box-sizing: border-box;
    padding: 0 var(--body-padding-hor);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

#nav-toggle {
    cursor: pointer;
}
#nav-list {
    display: none;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
#nav-list-mobile {
    position: absolute;
    top: var(--nav-bar-height);
    left: -100%;
    padding-top: 5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    width: 100%;
    height: 100vh;
    z-index: 3;

    box-sizing: border-box;

    list-style: none;

    transition: left 0.4s;
}

.nav-list-visible {
    left: 0 !important;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8em;
}

.best-gear,
.best-gear-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best-gear {
    margin: 0 var(--body-padding-hor);
    text-align: center;

    /* gap: 1em; */
}
.best-gear .copper {
    color: var(--copper);
}
.best-gear-img {
    width: 100%;
    border-radius: var(--rounded-edges);
}
.best-gear-paragraph {
    color: var(--medium-grey);
}

footer {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 3em;
    text-align: center;

    margin-top: 10em;
    padding: 0 var(--body-padding-hor) 3em var(--body-padding-hor);
}
.footer-top-line {
    background-color: var(--copper);
    width: 101px;
    height: 4px;
    margin-top: 0;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.nav-link {
    text-transform: uppercase;
    color: white;

    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
}

.footer-about,
.copyright {
    color: var(--medium-grey);
}
.copyright {
    font-weight: 700;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
    }
    h2 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.5px;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    #nav-list-mobile {
        height: 340px;
    }

    .best-gear-heading {
        padding: 0 2em;
    }
    .best-gear-paragraph {
        padding: 0 5em;
    }

    footer {
        grid-template: auto / 1fr 1fr;
        justify-items: start;
        text-align: left;
        gap: 2em;
    }
    .footer-top-line,
    .logo-link,
    .footer-nav,
    .footer-about {
        grid-area: span 1 / span 2;
    }
    .footer-top-line {
        justify-self: self-start;
        align-self: self-start;
        margin-left: 0;
    }
    .footer-about {
        align-self: self-start;
        padding-bottom: 3em;
    }
    .footer-nav {
        flex-direction: row;
    }
    .social-media {
        justify-self: self-end;
    }
}

@media screen and (min-width: 1024px) {
    .mobile,
    .tablet {
        display: none;
    }
    .desktop {
        display: block;
    }

    #nav-toggle,
    #nav-list-mobile {
        display: none;
    }

    #nav-list {
        display: flex;
    }

    .best-gear {
        text-align: start;

        flex-direction: row-reverse;
        justify-content: space-between;
        width: calc(100vw - var(--body-padding-hor) * 2);

        max-height: 588px;
    }
    .best-gear-text {
        max-width: 445px;
    }
    .best-gear-img {
        grid-area: span 2 / 2/-1;
        width: fit-content;
        justify-self: self-end;
        align-self: center;
    }

    .best-gear-heading {
        align-self: self-end;
        padding: 0;
    }
    .best-gear-paragraph {
        align-self: self-start;
        padding: 0;
    }

    .logo-link,
    .footer-nav,
    .footer-about {
        grid-area: span 1 / span 1;
    }
    .footer-nav {
        justify-self: self-end;
    }
    .social-media {
        grid-row: 3 / 3;
        grid-column: 2 / 2;
    }
}
