.category-heading-block {
    width: 100%;
    padding: 1em 0;

    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list,
.product-preview,
.product-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-list {
    margin: 0 var(--body-padding-hor);
    gap: 10em;
}
.product-preview {
    gap: 2em;
}
.product-img {
    width: 100%;
    border-radius: var(--rounded-edges);
}
.product-text {
    gap: 1em;
    text-align: center;
}
.product-desc {
    color: var(--medium-grey);
    font-size: 15px;
}
.product-link {
    margin-top: 1em;
}

@media screen and (min-width: 600px) {
    .product-text {
        max-width: 572px;
    }
}

@media screen and (min-width: 1024px) {
    .product-preview {
        justify-content: space-between;

        gap: 10em;
        width: 100%;
    }

    .product-preview:nth-child(odd) {
        flex-direction: row;
    }
    .product-preview:nth-child(even) {
        flex-direction: row-reverse;
    }
    .product-img {
        width: 540px;
        height: 560px;
    }

    .product-text {
        max-width: 445px;
        align-items: flex-start;
        text-align: left;
    }
}
